In [5]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

import pandas as pd
import numpy as np

import pickle

In [6]:
## read the file

df=pd.read_csv(r'C:\Users\Sheikh Nabil\Anaconda\Desktop\capital-bike-share\flask app\final_18_19_20.csv')
df

,Unnamed: 0,date,month,hour,holiday,weekday,Member type,count
0,0,2018-01-01,January,0,No,Monday,Casual,6
1,1,2018-01-01,January,0,No,Monday,Member,28
2,2,2018-01-01,January,1,No,Monday,Casual,11
3,3,2018-01-01,January,1,No,Monday,Member,38
4,4,2018-01-01,January,2,No,Monday,Casual,7
...,...,...,...,...,...,...,...,...
50889,50889,2020-12-31,December,21,No,Thursday,member,29
50890,50890,2020-12-31,December,22,No,Thursday,casual,25
50891,50891,2020-12-31,December,22,No,Thursday,member,31
50892,50892,2020-12-31,December,23,No,Thursday,casual,32
50893,50893,2020-12-31,December,23,No,Thursday,member,21

In [7]:
df = df[['hour','holiday', 'weekday','count']]

In [8]:
df.holiday = df.holiday.astype('category')
df.weekday = df.weekday.astype('category')

C:\Anaconda2\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
df = pd.get_dummies(df)

In [10]:
df

,hour,count,holiday_No,holiday_Yes,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday
0,0,6,1,0,0,1,0,0,0,0,0
1,0,28,1,0,0,1,0,0,0,0,0
2,1,11,1,0,0,1,0,0,0,0,0
3,1,38,1,0,0,1,0,0,0,0,0
4,2,7,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
50889,21,29,1,0,0,0,0,0,1,0,0
50890,22,25,1,0,0,0,0,0,1,0,0
50891,22,31,1,0,0,0,0,0,1,0,0
50892,23,32,1,0,0,0,0,0,1,0,0
50893,23,21,1,0,0,0,0,0,1,0,0

In [6]:
## modelling

x = df.drop(columns = ['count'])
y = df['count']

In [7]:
ada = AdaBoostRegressor()

In [8]:
ada.fit(x,y)

AdaBoostRegressor()

In [9]:
pickle.dump(ada, open('model.pkl','wb'))